body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#f5f7fa;
}

/* MAIN CONTAINER */

.main-container{
  text-align:center;
  padding:100px 20px 60px;
  max-width:1200px;
  margin:auto;
}

/* TOP LOGO */

.top-logo{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
  font-size:22px;
  font-weight:600;
  margin-bottom:40px;
}

.code-icon{
  color:#ff5a1f;
  font-size:24px;
}

/* HERO */

.hero-section h1{
  font-size:48px;
  color:#1f2937;
  margin-bottom:10px;
}

.hero-section p{
  font-size:18px;
  color:#6b7280;
  margin-bottom:30px;
  max-width:700px;
  margin-left:auto;
  margin-right:auto;
}

/* BUTTON */

.start-btn{
  background:#ff5a1f;
  color:white;
  border:none;
  padding:14px 28px;
  font-size:16px;
  border-radius:8px;
  cursor:pointer;
  display:inline-flex;
  align-items:center;
  gap:10px;
  transition:0.3s;
}

  /* background: #f4a300;
  border: none;
  padding: 14px 28px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease; */

.start-btn:hover{
  background:#e64a19;
}

/* CARDS */

.cards{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
  margin-top:60px;
}

.card{
  background:white;
  padding:30px;
  border-radius:12px;
  box-shadow:0 4px 15px rgba(0,0,0,0.08);
  text-align:center;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

.card-icon{
  font-size:30px;
  color:#ff5a1f;
  margin-bottom:15px;
}

.card h3{
  margin-bottom:10px;
  color:#1f2937;
}

.card p{
  color:#6b7280;
  font-size:14px;
}

/* ================= RESPONSIVE ================= */

/* Tablet */

@media (max-width:992px){

.hero-section h1{
  font-size:36px;
}

.cards{
  grid-template-columns:repeat(2,1fr);
}

}

/* Mobile */

@media (max-width:600px){

.hero-section h1{
  font-size:28px;
}

.hero-section p{
  font-size:15px;
}

.start-btn{
  padding:12px 20px;
  font-size:14px;
}

.cards{
  grid-template-columns:1fr;
}

.card{
  padding:25px;
}

}