/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 100px;
  background: white;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #f4a300;
}

.nav-links a {
  margin: 0 18px;
  text-decoration: none;
  color: #6b7280;
  font-weight: 500;
}

.signin-btn {
  background: #1e293b;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
 */


 /* NAVBAR */
.navbar {
  background: white;
  border-bottom: 1px solid #e5e7eb;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo-icon {
  font-size: 28px;
  color: #f4a300;   /* yellow icon */
}

.logo-text {
  font-size: 22px;
  font-weight: 700;
  color: #1f2937;   /* dark text */
  font-family: 'Playfair Display', serif;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #6b7280;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #111827;
}

/* RIGHT SIDE */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* CART */
.cart-icon {
  position: relative;
  font-size: 18px;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #f4a300;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* BUTTON */
.signin-btn {
  background: #1e293b;
  color: white;
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}